html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 1; }

.container {
  display: grid;
  grid-template-columns: 1fr repeat(4, [col-start] minmax(min-content, 15rem) [col-end]) 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
  font-size: 2rem;
  text-align: center; }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-columns: 1fr repeat(2, [col-start] minmax(min-content, 15rem) [col-end]) 1fr; } }

.city-info {
  grid-column: col-start 2 / col-end 3;
  grid-row: 2/3; }
  @media only screen and (max-width: 50em) {
    .city-info {
      grid-column: col-start 1 / col-end 2; } }
  .city-info .name {
    border: none;
    width: 35rem;
    font-size: 2rem;
    text-align: center;
    color: #130e51;
    padding: 0rem 1rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    transition: border-bottom 0.2s; }
    .city-info .name::selection {
      background-color: rgba(128, 128, 128, 0.5); }
    .city-info .name::placeholder {
      font-weight: 400; }
    .city-info .name:focus {
      outline: none;
      border-bottom: 2px solid rgba(128, 128, 128, 0.2); }

.search {
  grid-row: 2/3;
  grid-column: col-start 4 / col-end 4;
  justify-self: start;
  margin-left: -2rem;
  transition: all 0.2s;
  align-self: center; }
  @media only screen and (max-width: 50em) {
    .search {
      grid-column: col-start 2 / col-end 2;
      justify-self: end; } }
  .search:hover {
    transform: scale(1.2); }
  .search-icon {
    display: block;
    width: 2rem; }

.main-card {
  grid-row: 4/5;
  grid-column: col-start 1 / col-end 4;
  width: 35rem;
  background-color: #8572fc;
  border-radius: 15px;
  color: white;
  padding: 2rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.1);
  justify-self: center; }
  @media only screen and (max-width: 50em) {
    .main-card {
      grid-column: col-start 1 / col-end 2; } }
  .main-card-status {
    font-weight: 400;
    margin-top: -3rem;
    margin-bottom: 2rem; }
  .main-card-degree {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem; }
  .main-card-icon {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(213deg) brightness(101%) contrast(101%);
    width: 20rem; }

.heading {
  grid-row: 5/6;
  grid-column: col-start 1 / col-end 1;
  color: #130e51;
  text-transform: capitalize;
  align-self: start; }

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  font-size: 1.3rem;
  grid-row: 3/4;
  grid-column: col-start 2 / col-end 3; }
  @media only screen and (max-width: 50em) {
    .nav {
      grid-column: col-start 1 / col-end 2;
      justify-self: center; } }
  .nav-item {
    margin-right: 1rem;
    text-transform: capitalize;
    padding: 1rem;
    color: #130e51;
    cursor: pointer;
    transition: all 0.2s; }
    .nav-item:last-child {
      margin-right: 0; }
    .nav-item:hover {
      background-color: rgba(128, 128, 128, 0.1);
      border-radius: 1rem;
      transform: scale(1.05); }
  .nav .selected {
    background-color: rgba(128, 128, 128, 0.09);
    border-radius: 1rem;
    color: #5d50fe; }

.card {
  grid-row: 6/7;
  width: 15rem;
  border-radius: 1rem;
  color: #fff;
  padding: 2rem;
  font-weight: 400;
  transition: all 0.2s; }
  .card:hover {
    transform: scale(1.1); }
  .card-day {
    margin-bottom: rem;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 700; }
  .card-status {
    font-size: 1.7rem;
    margin-top: -1rem;
    margin-bottom: 1.5rem; }
  .card-degree {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: space-around; }
    .card-degree-min {
      color: rgba(255, 255, 255, 0.589); }
  .card-icon {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(213deg) brightness(101%) contrast(101%);
    width: 10rem; }
  .card-1 {
    grid-column: col-start 1 / col-end 1;
    background-color: #28e0ae;
    box-shadow: 0rem 4rem 2rem -2rem rgba(40, 224, 174, 0.3); }
  .card-2 {
    grid-column: col-start 2 / col-end 2;
    background-color: #ff0090;
    box-shadow: 0rem 4rem 2rem -2rem rgba(255, 0, 144, 0.3); }
  .card-3 {
    grid-column: col-start 3 / col-end 3;
    background-color: #0090ff;
    box-shadow: 0rem 4rem 2rem -2rem rgba(0, 144, 255, 0.3); }
    @media only screen and (max-width: 50em) {
      .card-3 {
        grid-row: 7 / 8;
        grid-column: col-start 1 / col-end 1; } }
  .card-4 {
    grid-column: col-start 4 / col-end 4;
    background-color: #ffae00;
    box-shadow: 0rem 4rem 2rem -2rem rgba(255, 174, 0, 0.3); }
    @media only screen and (max-width: 50em) {
      .card-4 {
        grid-row: 7 / 8;
        grid-column: col-start 2 / col-end 2; } }

.copyright {
  grid-row: 10/11;
  grid-column: 1/-1;
  font-size: 1rem;
  margin-bottom: 4rem; }

.spinner {
  margin: 7rem auto 7rem;
  width: 7rem;
  text-align: center; }
  .spinner > div {
    width: 1.8rem;
    height: 1.8rem;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .spinner .bounce1 {
    animation-delay: -0.32s; }
  .spinner .bounce2 {
    animation-delay: -0.16s; }

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0); }
  40% {
    transform: scale(1); } }
